:root {
  // accent
  --color-accent-300: #F39779;
  --color-accent-500: #E97550;
  --color-accent-600: #E05D33;
  --color-accent-2-300: #1A4A4B;
  --color-accent-2-600: #114142;
  --color-accent-2-700: #063536;

  // option 1
  --color-bg-1-10:#FBFDFD0D;
  --color-bg-1-50: #FBFDFD99;
  --color-bg-1-100:#FBFDFD;
  --color-accent-2-50:#1141420D;
  --color-grey:#84848499;

    // success
  --color-success-700: #0f9954;

    // danger
    --color-danger-300: #f23d61;
    --color-danger-500: #cc1439;
}