:root {
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 12px;
    --space-lg: 16px;
    --space-xl: 24px;
    --space-xxl: 32px;
    --space-xxxl: 42px;
    --space-xxxxl: 64px;
    --space-xxxxxl: 72px;
    --space-xxxxxxl: 96px;
    --space-xxxxxxx: 140px;
  }